main div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.background-image {
  position: relative;
  text-align: center;
  width: 90%;
}
.background-image img {
  width: 100%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.btn {
  display: flex;
  padding: 10px 20px;
  background-color: var(--amarillo);
  color: black;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 2.3rem;
  text-align: center;
  box-shadow: 0px 4px 0px 0px #C13135;
  border: none;
  align-items: center;
  justify-content: center;
}
.btn-menu {
  width: 250px;
  height: 70px;
}

.productos-estrella {
  width: 80%;
  text-align: center;
}

.productos-estrella section {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: 40px;
}
.productos-estrella div {
  display: flex;
  flex-direction: column;
  margin: 5px 5px;
}
.circular {
  display: inline-block;
  position: relative;
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 50%;
}

.circular img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}
.btn-star {
  margin-top: -20px;
  z-index: 5;
}
@media (max-width: 700px) {
  .background-image {
    width: 100%;
  }
  .centered img {
    width: 180px;
  }
  .productos-estrella section {
    flex-direction: column;
  }
}